
body {
	background: #ffffff;
	text-align: center;
}

#body0 {
	display: block;
	position: relative;
	top: 200px;
	margin: auto;
	padding: 10px;
	padding-bottom: 0;
	width: 60%;
}

#go-button {
	border: 0;
	font-size: 100px;
}

#back-button {
	border: 0;
	font-size: 30px;
}