body {
	background: #ffffff;
	text-align: center;
}

#body{
	display: block;
	position: relative;
	top: 200px;
	margin: auto;
	padding: 10px;
	padding-bottom: 0;
	width: 60%;
}

p {
	margin: 0;
	padding: 2px;
}

#countDown {
	position: relative;
	top: -60px;
}

#unlocking-icon {
	border: 0;
	font-size: 100px;
}

#back-button {
	border: 0;
	font-size: 30px;
	position: relative;
	top: 5px;
	left: 0px;
}